/node_modules
/public/hot
/public/storage
/public/css
/public/images
/public/js
/public/vendor
mix-manifest.json
/storage/*.key
/vendor
/public
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.log
*.lock

# compiled output
/dist
/tmp
/out-tsc

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db