<div class="sidebar-switch-button" id="sidebarCollapse">
  <i class="fa fa-angle-double-left"></i>
</div>

<ul class="list-unstyled components" *ngIf="currentUser.isSuperUser() && !impersonate">
  <li class="menu-header">Main Menu</li>
  <li class="active">
    <a routerLink="mod/dashboard">
      <i class="fa fa-tachometer"></i>
      <span class="sidebar-item-name">Dashboard</span>
    </a>
  </li>
  <li>
    <a routerLink="mod/invoices">
      <i class="fa fa-file-text"></i>
      <span class="sidebar-item-name">Invoices</span>
    </a>
  </li>
  <li>
    <a routerLink="mod/users">
      <i class="fa fa-users"></i>
      <span class="sidebar-item-name">Users</span>
    </a>
  </li>
</ul>
<ul class="list-unstyled components" *ngIf="user.isAdmin() || impersonate">
  <li class="menu-header">Main Menu</li>
  <li class="active">
    <a routerLink="dashboard">
      <i class="fa fa-tachometer"></i>
      <span class="sidebar-item-name">Dashboard</span>
    </a>
  </li>
  <li>
    <a routerLink="/customers">
      <i class="fa fa-users"></i>
      <span class="sidebar-item-name">Customers</span>
    </a>
  </li>
  <li>
    <a routerLink="/invoices">
      <i class="fa fa-file-text"></i>
      <span class="sidebar-item-name">Invoices</span>
    </a>
  </li>
  <li>
    <a routerLink="/sales/reports/summary">
      <i class="fa fa-bar-chart"></i>
      <span class="sidebar-item-name">Sales</span>
    </a>
  </li>
</ul>
