<!-- Title & Navigation -->
<div class="title-header title-header--nav-right">
  <div class="row" style="width:100%">
    <div class="col-lg-8 title-header_title title-header--nav-right_title">
      <span
        *ngFor="let breadCrumb of local.getLocationPath(); let i = index"
        [class.title-header_breadcrumb-item-root]="!i"
        class="title-header_breadcrumb-item">
        {{ breadCrumb }}
      </span>
    </div>
    <div class="col-lg-4 title-header_navigation">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" routerLink="/customers">Directory</a>
        </li>
        <li class="nav-item">
          <a disabled class="nav-link disabled" [routerLinkActive]="['active']" routerLink="/customers/settings">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Main -->
<div class="container-fluid component-container offWhite">
    <div class="row" style="padding: 10px 0">
        <div class="col-lg-8">
            <div class="col-sm-4 left">
                <!-- <input [(ngModel)]="searchInput" type="text" placeholder="Search.." class="form-control"/> -->
              <button *ngIf="deleteCustomers.length > 0" class="btn btn-theme-tertiary"
                      (click)="openModal('deleteCustomersModal')">Remove
              </button>
            </div>
        </div>
        <div class="col-lg-4">
          <button (click)="openModal('addCustomerModal')" class="btn btn-theme-secondary right">Create Customer</button>
        </div>
    </div>
  <table class="table componentTable">
    <thead>
      <tr>
        <th></th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Vehicles</th>
      </tr>
    </thead>
    <tbody class="customersTable">
      <tr *ngFor="let customer of customers" (click)="viewCustomer(customer)">
        <td class="not-hover"><input type="checkbox" (click)="toggleSelection(customer)" ></td>  
        <td class="cap">{{customer.fullName()}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.phone}}</td>
        <td>
          <span class="cap" *ngFor="let car of customer.cars">
            {{car.model}} {{car.year}} 
          </span>
        </td>
      </tr>
    </tbody>
    </table>
    <div *ngIf="customerPane" class="sidePopup" id="customerPanePanel">
        <div class="sidePopup_content">
            <div class="customerPane_header cap">
               {{customer.fullName()}}
            </div>
            <div class="customerPane_main-row">
                <div class="customerPane_main-header-section">
                    <div class="customerPane_main-header">
                        Personal Information
                    </div>
                  <button class="btn btn-link btn-theme-secondary" (click)="openModal('editCustomerModal')">Edit
                    Customer
                  </button>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Email</th>
                            <td><a href="mailto:{{customer.email}}">{{customer.email}}</a></td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>{{customer.phone}}</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td class="cap">{{customer.address_one}}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td><span class="cap">{{customer.city}}</span>, <span class="uc">{{customer.state}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="customerPane_main-row">
                <div class="customerPane_main-header-section">
                    <div class="customerPane_main-header">
                        Vehicles
                    </div>
                  <button class="btn btn-link theme-secondary right" (click)="openModal('newVehicleModal')">New
                    Vehicle
                  </button>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Year</th>
                            <th>Vin</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr *ngFor="let car of customer.cars">
                            <td class="cap">{{car.make}}</td>
                            <td class="cap">{{car.model}}</td>
                            <td>{{car.year}}</td>
                            <td>{{car.number}}</td>
                            <td class="row-button">
                              <button (click)="openEditVehicleModal(car)" class="btn btn-link theme-secondary"><i
                                class="fa fa-pencil"></i></button>
                            </td>
                            <td class="row-button">
                              <button (click)="openDeleteVehicleModal(car)" class="btn btn-link theme-tertiary"><i
                                class="fa fa-trash"></i></button>
                            </td>
                        </tr>
    </tbody>
  </table>
            </div>
            <div class="customerPane_main-row">
                <div class="customerPane_main-header-section">
                    <div class="customerPane_main-header">
                        History
                    </div>
                    <button class="btn btn-link right" disabled>View Invoices</button>
                </div>
                <table class="table">
                    <tbody>
                        <tr *ngFor="let invoice of customer.invoices">
                            <td>{{invoice.created_at | date: "MM/dd/yyyy"}}</td>
                            <td class="inv-table-status-{{invoice.status}} cap">{{invoice.getStatus()}}</td>
                            <td>{{invoice.cost}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="sidePopup_bottom-pane">
          <button class="btn btn-theme-secondary sidePopup_bottom-pane_button" (click)="closeCustomerPane()">Done
          </button>
        </div>
    </div>
</div>
<modal id="addCustomerModal" class="small-modal">
    <div class="modal-background">
        <div class="modal">
            <div class="modal-body">
                <new-customer  
                    class="addCustomerChildComponent" 
                    (onCustomerCreated)="addCustomer($event)"></new-customer>
            </div>
        </div>
    </div>
</modal>
<modal id="editCustomerModal" class="small-modal">
    <div class="modal-background">
        <div class="modal">
            <div class="modal-body">
                <edit-customer 
                    *ngIf="customer" 
                    class="editCustomerChildComponent" 
                    [customer]="customer"
                    (onCustomerUpdated)="updateCustomer($event)"></edit-customer>
            </div>
        </div>
    </div>
</modal>
<modal id="deleteCustomersModal" class="small-modal">
  <div class="modal-background">
    <div class="modal">
      <div class="modal-body">
        <div class="editCustomerModal">
          <div class="editCustomerModal-header">Remove Customers</div>
          <div class="editCustomerModal_body--tiny">Warning! Are you sure you want to continue? this action is not reversable</div>
          <div class="modal-actions">
            <button class="btn btn-outline-theme-tertiary left" (click)="cancelDeleteCustomers()">Cancel</button>
            <button class="btn btn-theme-tertiary right" (click)="confirmDeleteCustomers()">Remove</button>
          </div>
        </div>            
      </div>
    </div>
  </div>
</modal>
<modal id="editVehicleModal" class="small-modal">
    <div class="modal-background">
        <div class="modal">
            <div class="modal-body">
                <edit-vehicle 
                    *ngIf="car"
                    [car]="car"
                    (onVehicleEdited)="updateVehicle($event)"
                    class="editVehicleChilComponent"></edit-vehicle>
            </div>
        </div>
    </div>
</modal>
<modal id="newVehicleModal" class="small-modal">
    <div class="modal-background">
        <div class="modal">
            <div class="modal-body">
                <new-vehicle 
                    *ngIf="customer" 
                    [customerId]="customer.id"
                    (onVehicleCreated)="addVehicle($event)" 
                    class="newVehiclesChildComponent"></new-vehicle>
            </div>
        </div>
    </div>
</modal>
<modal id="deleteVehicleModal" class="small-modal">
    <div class="modal-background">
        <div class="modal">
            <div class="modal-body">
                <delete-vehicle 
                    *ngIf="car" 
                    [car]="car"
                    (onVehicleDeleted)="removeVehicle($event)" 
                    class="deleteVehicleChildComponent"></delete-vehicle>
            </div>
        </div>
    </div>
</modal>
