// Styling for the masthead
header.masthead {
    position: relative;

    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;

    color: white;
    background: url('../img/login-bg.jpg');
    background: -webkit-linear-gradient(to left, rgba($theme-secondary, .7), rgba($theme-tertiary,.7)), url('../img/login-bg.jpg');
    background:  linear-gradient(to left, rgba($theme-secondary, .7), rgba($theme-tertiary, .7)), url('../img/login-bg.jpg');
    background-size: cover;

    .header-content {
        text-align: center;
        margin: 0 auto;
        h1 {
            font-size: 30px;
            text-align: center;
            margin-top: 30px;
          font-family: 'Oleo Script', cursive;
        }
        .btn {
          margin-top: 60px;
        }
    }
    .device-container {
        max-width: 325px;
        margin-right: auto;
        margin-left: auto;
        .screen img {
            border-radius: 3px;
        }
    }
    @media (min-width: 992px) {
        min-height: 550px;
        padding-bottom: 0;
        .header-content {
            margin-bottom: 0;
            h1 {
                font-size: 50px;
            }
        }
        .device-container {
            max-width: 325px;
        }
    }
}