<div>
  <div class="row">
    <div class="col-sm-8 navbar-container">
      <div class="logo">Logo</div>
      <!--<a href="/" class="navButton"><i class="fa fa-search"></i></a>-->
    </div>
    <div class="col-sm-4 navRight">
      <a href="/" class="navButton right"><i class="fa fa-plus"></i></a>
      <a href="/" class="navButton right"><i class="fa fa-bell"></i></a>
      <div ngbDropdown class="d-inline-block userButton">
        <button id="impersonatingDropDownButton" ngbDropdownToggle *ngIf="impersonating">
          <i class="fa fa-user-secret"></i>{{ impersonatedUser.name }}
        </button>
        <button id="dropdownBasic1" ngbDropdownToggle *ngIf="!impersonating">
          <i class="fa fa-user"></i>{{ currentUser.name }}
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            *ngIf="currentUser.isSuperUser() && impersonating"
            (click)="stopImpersonating()"
            class="dropdown-item stopImpersonationButton">
            Stop impersonation
          </button>
          <button routerLink="/settings" class="dropdown-item">Settings</button>
          <button href="#" class="dropdown-item">Security</button>
          <button class="dropdown-item" (click)="logout()">Sign out</button>
        </div>
      </div>
    </div>
  </div>
</div>
