<!-- Title & Navigation -->
<div class="title-header title-header--nav-right">
  <div class="row" style="width:100%">
    <div class="col-lg-8 title-header_title title-header--nav-right_title">
      <span
        *ngFor="let breadCrumb of local.getLocationPath(); let i = index"
        [class.title-header_breadcrumb-item-root]="!i"
        class="title-header_breadcrumb-item">
        {{ breadCrumb }}
      </span>
    </div>
  </div>
</div>
<!-- Main -->
<div class="container-fluid offWhite">
  <div class="row" style="width: 100%">
    <div class="col-lg-3">
      <nav class="component-sidebar nav flex-column">
        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/settings/personal">Personal Information</a>
        <a class="nav-link" href="#">Square Account</a>
        <a class="nav-link" [routerLinkActive]="['active']" routerLink="/settings/business">Business Information</a>
        <a class="nav-link" href="#">Notifications</a>
        <a class="nav-link" href="#">Email Settings</a>
      </nav>
    </div>
    <div class="col-lg-9">
      <main class="componentMain">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>